main {
    padding-bottom: 7em;
}

/* --------------- HEADERS & TEXT --------------- */

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #385580;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
    color: #385580;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
    color: #385580;
}

p {
    color: #729CC0;
    padding-bottom: 1em;
}

/* --------------- SECTIONS --------------- */

.section {
    padding: 2em 10em 4em 10em;
}

.section--highlight {
    background-color: #E5FCF5;
}

.flex {
    display: flex;
}

/* --------------- BLOCKS --------------- */

.block__flex {
    display: flex;
    justify-content: space-around;
    margin: 0 10em;
}


.flex__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

/* --------------- NAV --------------- */

.nav {
    background-color: #E5FCF5;
    
}

.nav__block {
    background-color: #B3DEC1;
    border-bottom-left-radius:50% 75%;
    border-bottom-right-radius:50% 75%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2em;
}

.circle__nav {
    position: absolute;
    right: 0;
}


/* --------------- IMAGES & ICONS --------------- */

.intro__image {
    width: 300px;
}

.icon {
    height: 150px;
}

.profile__image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* --------------- BUTTONS --------------- */

.btn {
    padding: 0.5em 1em;
    background-color: #F2994A;
    color: white;
    border-radius: 5px;
}


/* --------------- SHAPES --------------- */

.circle {
    background: #B3DEC1;
    border-radius: 50%
  }

.circle__xl {
    width: 75px;
    height: 75px;
}

.circle__s {
    width: 50px;
    height: 50px;
}

.circle__xs {
    width: 30px;
    height: 30px;
}

.circle__one {
    position: absolute;
    top: -20px;
    right: 80px;
}

.circle__two {
    position: absolute;
    top: -50px;
    right: 20px;
}

.circle__three{
    position: absolute;
    top: 10px;
    right: 30px;
}

/* --------------- FOOTER --------------- */

.footer__block {
    background-color: #B3DEC1;
    border-top-left-radius:50% 75%;
    border-top-right-radius:50% 75%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2em;
}

/* --------------- PADDING & MARGINS --------------- */

.padding__x__xs {
    padding-top: 1em;
    padding-bottom: 1em;
}

.padding__x {
    padding-top: 2em;
    padding-bottom: 2em;
}

.padding__x__xl {
    padding-top: 4em;
    padding-bottom: 4em;
}

.padding__x__xxl {
    padding-top: 6em;
    padding-bottom: 6em;
}

.padding__y {
    padding-left: 10em;
    padding-right: 10em;
}

.padding__y__xl {
    padding-left: 18em;
    padding-right: 18em;
}

.padding__top {
    padding-top: 2em;
}

.padding__top__xl {
    padding-top: 4em;
}

.padding__left {
    padding-left: 2em;
}

.padding__right {
    padding-right: 2em;
}

.padding__bottom {
    padding-bottom: 1em;
}

.center {
    text-align: center;
}

