:root {
    --lightGreen: #E5FCF5;
    --green: #B3DEC1;
    --lightBlue: #CCEAF5;
    --darkBlue: #385580;
    --buttonBlue: #2334B6;
    --black: #2b2b2b;

    --primaryBlue: #6A76E5;
    --secondaryBlue: #CAC5FF;
    --primaryGreen: #80D898;
    --secondaryGreen: #D7F6B8;
    --primaryYellow: #FFD66E;
    --secondaryYellow: #FFFCD9;

    --white: #ffffff;
    --offWhite: #F6F6F6;
    --offBlack: #303030;
    --lightGray: #dfe2e7;
    --darkGray: #838383;

    --body: #F7F6FF;
    --navigationEffect: #7F89E7;
}

body {
    font-family: 'Rubik', sans-serif;
}

main {

    background-color: var(--body);
    color: var(--black);
    
}

/* ------------------------- HEADERS & TEXT ------------------------- */

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: var(--black);
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: var(--black);
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: var(--black);
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--black);
}

p {
    padding-bottom: 1em;
    color: var(--black);
}

.bold {
    font-weight: 700;
}

.width-40 {
    width: 40%;
}
.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-100 {
    width: 100%;
}

/* ------------------------- SECTIONS ------------------------- */

.section {
    padding: 4em 12em;
}

.section--highlight {
    background-color: var(--secondaryBlue);
}

.flex {
    display: flex;
}

.section-image {
    padding-left: 18em;
    padding-bottom: 4em;
}

/* ------------------------- BLOCKS ------------------------- */

.block-flex {
    display: flex;
    justify-content: space-around;
}

.pack-block {
    display: flex;
    justify-content: space-around;
    margin: 0 10em;
}


.flex-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.flex-center {
    display: flex;
    justify-content: center;
}

.icons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------- NAV ------------------------- */

.nav {
    background-color: var(--secondaryBlue);
    
}

.nav__block {
    background-color: var(--primaryBlue);
    border-bottom-left-radius:50% 60%;
    border-bottom-right-radius:50% 60%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em 6em;
}

.nav__circle {
    position: absolute;
    right: 0;
}


/* ------------------------- IMAGES & ICONS ------------------------- */

.image-round {
    width: 350px;
    height: 350px;
    object-fit: cover;
    align-items: center;
    border-radius: 50%;
}

.image {
    height: 300px;
    object-fit: cover;
    align-items: center;
}

.icon {
    height: 150px;
}


.icon-small {
    height: 50px;
    padding: 0.5em 0.5em 0.5em 0;
}

.logo {
    height: 40px;
}


/* ------------------------- BUTTONS ------------------------- */

.btn {
    font-family: 'Quicksand', sans-serif;
    padding: 1em 1em;
    background-color: var(--primaryYellow);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
}

.btn-platform {
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.66);
    border-radius: 15px;
}




/* ------------------------- SHAPES ------------------------- */

.circle {
    background: var(--primaryBlue);
    border-radius: 50%
  }

.circle--xl {
    width: 75px;
    height: 75px;
}

.circle--s {
    width: 50px;
    height: 50px;
}

.circle--xs {
    width: 30px;
    height: 30px;
}

.circle__one {
    position: absolute;
    top: -20px;
    right: 80px;
}

.circle__two {
    position: absolute;
    top: -50px;
    right: 20px;
}

.circle__three{
    position: absolute;
    top: 10px;
    right: 30px;
}

/* ------------------------- FOOTER ------------------------- */

.footer__block {
    background-color: var(--primaryBlue);
    border-top-left-radius:50% 40%;
    border-top-right-radius:50% 40%;
    height: 450px;
    padding-top: 5em;
    
}

footer {
    background-color: var(--secondaryBlue);
    padding-top: 5em;
    
}



.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 4em;
}

.input-field {
    font-family: 'Quicksand', sans-serif;
    padding: 1.3em 1em;
    background-color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 50%;
}

/* ------------------------- PADDING & MARGINS ------------------------- */

.x {
    padding-top: 2em;
    padding-bottom: 2em;
}

.x--xs {
    padding-top: 1em;
    padding-bottom: 1em;
}

.x--xl {
    padding-top: 4em;
    padding-bottom: 4em;
}

.x--xxl {
    padding-top: 6em;
    padding-bottom: 6em;
}

.y {
    padding-left: 10em;
    padding-right: 10em;
}

.y--xl {
    padding-left: 18em;
    padding-right: 18em;
}

.top {
    padding-top: 2em;
}

.top--s {
    padding-top: 1em;
}

.top--xl {
    padding-top: 4em;
}

.left {
    padding-left: 7em;
}

.right {
    padding-right: 7em;
}

.bottom {
    padding-bottom: 1em;
}

/* ------------------------- PROPERTIES ------------------------- */

.center {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.color__white {
    color: var(--white);
}


@media (max-width: 1300px){
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .section {
        padding: 4em 10em;
    }

    .flex-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flex-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-block {
        padding-bottom: 2em;
    }

    .block-flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0em;
    }

    .mobile-block {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

@media (max-width: 1150px){
    .section {
        padding: 4em 7em;
    }

    .profile-section {
        display: flex;
        align-items: center;
        margin: 0 0em;
        flex-wrap: wrap;
    }

    .block-flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0em;
    }

    .pack-block {
        display: flex;
        align-items: center;
        margin: 0 0em;
        flex-wrap: wrap;
    }

}

@media (max-width: 800px){


    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4em;
    }

    .footer-box {
        padding: 2em;
    }

    .footer__block {
        border-top-left-radius:50% 20%;
        border-top-right-radius:50% 20%;
        height: 550px;

        
    }
}

@media (max-width: 615px){
    .section {
        padding: 4em 5em;
    }

    .nav__block {
        flex-direction: column;
        height: 200px;
        align-items: center;
    }


}

@media (max-width: 400px){
    .section {
        padding: 4em 3em;
    }

    .btn {
        padding: 0.25em 0.5em;
        font-size: 0.9em;
    }

    .btn-platform {
        padding: 1em 1em;
    }

}